* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  body {
      font-size: 90%;
  }

  h1 {
      font-size: 2rem;
      margin-top: 15px;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 85%;
  }

  h1 {
      font-size: 1.5rem;
      margin-top: 10px;
  }
}